.header-nav .header-content__form-btn, .slider-card__link, .sale__link, .about__info-link, .footer-info__link {
  border: none;
  padding: 12px 24px;
  background: #ff7e00;
  border-radius: 2px;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0px 20px;
}

.title {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: 400;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #1a1e29;
  margin-bottom: 32px;
}

.header {
  background-color: #1a1e29;
}

.header-nav {
  padding: 0px 16px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header-nav__list-item .header-nav__list-item {
  margin-left: 50px;
}

.header-nav__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 27px 0 28px;
}

.header-nav__list-link svg {
  margin-left: 4px;
}

.header-nav__list-link:hover {
  color: #ff7e00;
}

.header-nav__list-link:hover svg {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.header-nav__list-link:hover svg path {
  fill: #ff7e00;
}

.header-nav .header-content {
  display: none;
  position: absolute;
  background-color: #2b3143;
  width: 100%;
  left: 0;
  top: 88px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 32px 58px 48px;
}

.header-nav .header-content h2 {
  color: darkgreen;
}

.header-nav .header-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav .header-content__left {
  max-width: 600px;
}

.header-nav .header-content__box {
  width: 100%;
  padding: 16px 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #3e465f;
  margin-bottom: 16px;
}

.header-nav .header-content__box:last-child {
  margin-bottom: 0px;
}

.header-nav .header-content__box-logo {
  margin-right: 24px;
}

.header-nav .header-content__content-title {
  font-size: 24px;
  color: #ff850e;
  margin-bottom: 16px;
}

.header-nav .header-content__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.header-nav .header-content__content-item + .header-content__content-item {
  margin-left: 8px;
}

.header-nav .header-content__content-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #e5e5e5;
}

.header-nav .header-content__right {
  max-width: 492px;
  width: 100%;
}

.header-nav .header-content__right-list {
  width: 100%;
}

.header-nav .header-content__right-item {
  padding: 12px 16px;
  border-bottom: 1px solid #3e465f;
}

.header-nav .header-content__right-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.header-nav .header-content__content-time {
  margin-right: 8px;
}

.header-nav .header-content__content-span {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #e5e5e5;
}

.header-nav .header-content__left-company {
  max-width: 492px;
  width: 100%;
}

.header-nav .header-content__log-in, .header-nav .header-content__registration {
  max-width: 492px;
  width: 100%;
}

.header-nav .header-content__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.header-nav .header-content__form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav .header-content__form-input {
  width: 308px;
  border: none;
  padding: 12px 16px;
  background-color: #fff;
}

.header-nav .header-content__form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1a1e29;
}

.header-nav .header-content__form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1a1e29;
}

.header-nav .header-content__form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1a1e29;
}

.header-nav .header-content__form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1a1e29;
}

.header-nav .header-content__form-btn {
  width: 168px;
}

.header-nav .header-content__form-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.header-nav .header-content .code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin-bottom: 16px;
}

.header-nav .header-content .code .header-content__form-btn {
  background-color: #fff;
  color: #ff7e00;
}

.header-nav .header-content__form-label {
  width: 100%;
}

.header-nav .header-content__form-span {
  font-size: 14px;
  line-height: 16px;
  color: #e5e5e5;
}

.header-nav .header-content__form-link {
  color: #4c65bd;
}

.header-nav__list-item:hover .header-content {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: block;
}

.header-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -28px;
  position: relative;
}

.header-nav__logo::after {
  position: absolute;
  content: "";
  height: 96px;
  width: 96px;
  background: #1a1e29;
  border-radius: 16px;
  top: -16px;
  z-index: -1;
}

.slider {
  width: 100%;
  left: -1px;
  top: -1px;
}

.slider-card {
  height: 384px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider-card__box {
  padding-top: 64px;
  max-width: 646px;
  margin-left: auto;
  height: 100%;
}

.slider-card__title, .slider-card__title-span {
  background-color: #ff7e00;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider-card__title-span {
  display: block;
  margin-bottom: 16px;
}

.slider-card__link {
  background: #fff;
  border: 1px solid #efd8c3;
  color: #ff7e00;
}

.slider-card .slick-slider {
  left: -1px;
}

.sale {
  background-color: #fff;
  padding-bottom: 40px;
}

.sale__link {
  display: block;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #ff7e00;
}

.sale-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  margin-bottom: 32px;
}

.sale-slider__card {
  max-width: 392px;
}

.sale-slider__item {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.sale-slider__info {
  background-color: #fff;
  padding-bottom: 32px;
  padding-left: 31px;
  padding-right: 31px;
  height: 202px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sale-slider__box {
  margin-left: -31px;
  margin-right: -31px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 16px;
  background-repeat: no-repeat;
  margin-top: -25px;
  position: relative;
}

.sale-slider__box-link {
  display: inline;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1a1e29;
}

.sale-slider__hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

.sale-slider__hashtag-link {
  background: #ffe9d5;
  border-radius: 2px;
  padding: 2px 4px;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #ff7e00;
  margin-right: 8px;
}

.sale-slider__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.sale-slider__time-icon {
  margin-right: 8px;
}

.sale-slider__time-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6a6a6a;
}

.sale-slider__time-date {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1a1e29;
}

.about {
  padding-bottom: 72px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  max-width: 600px;
}

.about__content-img {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__info {
  max-width: 592px;
  margin-left: auto;
}

.about__info-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #1a1e29;
  margin-bottom: 16px;
}

.about__info-text {
  font-size: 16px;
  color: #6a6a6a;
  margin-bottom: 24px;
}

.about__info-link {
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #ff7e00;
}

.footer {
  background-color: #ccc;
  padding-top: 56px;
  padding-bottom: 57px;
  background-image: url("../img/icon/footer-logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  border-top: 1px solid #e5e5e5;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.footer-item {
  max-width: 185px;
  width: 100%;
}

.footer-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff7e00;
  margin-bottom: 16px;
}

.footer-item__list-item {
  margin-bottom: 16px;
}

.footer-item__list-item:last-child {
  margin-bottom: 0px;
}

.footer-item__list-link {
  font-size: 14px;
  line-height: 16px;
  color: #1a1e29;
}

.footer-info {
  padding-top: 97px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-info__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1a1e29;
}

.footer-info__subtitle {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #6a6a6a;
}

.footer-info__link {
  margin-top: 16px;
  color: #ff7e00;
  padding: 12px 24px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-bottom: 32px;
}

.footer-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.footer-info__list-item + .footer-info__list-item {
  margin-left: 8px;
}

.footer-info__list-link {
  display: block;
  border: 1px solid #e5e5e5;
  padding: 12px;
}

.footer-info__title {
  font-size: 16px;
  line-height: 16px;
  color: #6a6a6a;
  margin-bottom: 16px;
}

.footer-info__title-link {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */