* {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0px 20px;
}
.title {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: 400;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #1a1e29;
  margin-bottom: 32px;
}
