%btn {
  border: none;
  padding: 12px 24px;
  background: #ff7e00;
  border-radius: 2px;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
%btn2 {
  background: #fff;
  border: 1px solid #efd8c3;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ff7e00;
  padding: 12px 24px;
}
