@import "vars";
@import "reset";
@import "global";
.header {
  background-color: #1a1e29;
  //padding: 27px 0 28px;
}
.header-nav {
  padding: 0px 16px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  &__list-item .header-nav__list-item {
    margin-left: 50px;
  }
  &__list-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    transition: all 0.4s;
    padding: 27px 0 28px;
    svg {
      margin-left: 4px;
    }
    &:hover {
      color: #ff7e00;
      svg {
        transform: rotateX(180deg);
        path {
          fill: #ff7e00;
        }
      }
    }
  }
  .header-content {
    display: none;
    //display: block;
    position: absolute;
    background-color: #2b3143;
    width: 100%;
    left: 0;
    top: 88px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 32px 58px 48px;
    h2 {
      color: darkgreen;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__left {
      max-width: 600px;
    }
    &__box {
      width: 100%;
      padding: 16px 0 23px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #3e465f;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &__box-logo {
      margin-right: 24px;
    }
    &__content-title {
      font-size: 24px;
      color: #ff850e;
      margin-bottom: 16px;
    }
    &__content-list {
      display: flex;
      margin-bottom: 8px;
    }
    &__content-item + .header-content__content-item {
      margin-left: 8px;
    }
    &__content-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #e5e5e5;
    }
    &__right {
      max-width: 492px;
      width: 100%;
    }
    &__right-list {
      width: 100%;
    }
    &__right-item {
      padding: 12px 16px;
      border-bottom: 1px solid #3e465f;
    }
    &__right-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }
    &__content-time {
      margin-right: 8px;
    }
    &__content-span {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #e5e5e5;
    }
    &__left-company {
      max-width: 492px;
      width: 100%;
    }
    &__log-in,
    &__registration {
      max-width: 492px;
      width: 100%;
    }
    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
    &__form-info {
      display: flex;
      justify-content: space-between;
    }
    &__form-input {
      width: 308px;
      border: none;
      padding: 12px 16px;
      background-color: #fff;
      transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #1a1e29;
      }
      &:hover {
        color: #ff7e00;
        //border: 1px solid #ff7e00;
        //border-radius: 2px;
        border-color: #ff7e00;
        transition: all 0.6s;
        &::placeholder {
          color: #ff7e00;
        }
      }
    }
    &__form-btn {
      width: 168px;
      @extend %btn;
    }
    &__form-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
    .code {
      display: flex;
      column-gap: 16px;
      margin-bottom: 16px;
      .header-content__form-btn {
        background-color: #fff;
        color: #ff7e00;
      }
    }
    &__form-label {
      width: 100%;
    }
    &__form-span {
      font-size: 14px;
      line-height: 16px;
      color: #e5e5e5;
    }
    &__form-link {
      color: #4c65bd;
    }
  }
  &__list-item:hover .header-content {
    transition: all 0.6s;
    display: block;
  }
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: -28px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 96px;
      width: 96px;
      background: #1a1e29;
      border-radius: 16px;
      top: -16px;
      z-index: -1;
    }
  }
}
.slider {
  width: 100%;
  left: -1px;
  top: -1px;
  //height: 384px;
}
//.slider-item {
//  height: 100%;
//}
.slider-card {
  height: 384px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__box {
    padding-top: 64px;
    max-width: 646px;
    margin-left: auto;
    height: 100%;
  }
  &__title,
  &__title-span {
    background-color: #ff7e00;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    width: fit-content;
  }
  &__title-span {
    display: block;
    margin-bottom: 16px;
  }
  &__link {
    @extend %btn;
    background: #fff;
    border: 1px solid #efd8c3;
    color: #ff7e00;
  }
  //.slick-vertical .slick-slide{
  //  margin-left: -3px !important;
  //}
  .slick-slider {
    left: -1px;
  }
}

.selection {
  /* Style the tab */
  background-image: url("../img/select/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 16px;
  padding-bottom: 73px;
  margin-top: -70px;
  position: relative;
  z-index: 1;
  &__link {
    @extend %btn;
    display: block;
    margin: 0 auto;
    margin-top: 26px;
    width: fit-content;
    padding: 12px 80px;
  }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    overflow: hidden;
    //border: 1px solid #ccc;
    //background-color: #f1f1f1;
    margin-bottom: 24px;
    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: #1a1e29;
    }
  }
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    transition: 0.3s;
  }
  /* Change background color of buttons on hover */

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: inherit;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    border: none;
    padding: 0px;
    &__form {
      display: flex;
      justify-content: center;
      column-gap: 24px;
    }
  }
}
.jq-selectbox {
  width: 185px;
}
.jq-selectbox__select {
  height: 32px;
  padding: 0 50px 0 16px;
  background: #f5f5f5;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  color: #6a6a6a;
}
.jq-selectbox__select:hover {
  background: #f5f5f5;
}
//.jq-selectbox__select {
//  height: 32px;
//  padding: 0 45px 0 10px;
//  border: 1px solid #e5e5e5;
//  border-radius: 2px;
//  background: linear-gradient(rgb(255 255 255), rgb(255 255 255));
//  box-shadow: none;
//  color: #1a1e29;
//  text-shadow: none;
//  padding-left: 16px;
//}
//.jq-selectbox__select:hover {
//  background: linear-gradient(rgb(255 255 255), rgb(255 255 255));
//}
.jq-selectbox__trigger {
  background-image: url("../img/select/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  //background-color: aquamarine;
  border: none;
  width: 10px;
  right: 17px;
}
.jq-selectbox__trigger-arrow {
  border: none;
}
.jq-selectbox__dropdown {
  width: 100%;
  margin: 4px 0 0;
  padding: 0;
  border: none;
  //font: 14px / 18px Arial, sans-serif;
  //box-shadow: 0px 2px 4px rgba(172, 85, 0, 0.08), 0px 8px 32px rgba(255, 126, 0, 0.16);
  border-radius: 2px;
}
.jq-selectbox li.selected {
  background: #ff7e00;
  color: #fff;
}
.jq-selectbox li:hover {
  background: #ff7e00;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.jq-selectbox li {
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  color: #1a1e29;
  padding: 12px 16px;
  border-bottom: 1px solid #e5e5e5;
  &:last-child {
    border-bottom: none;
  }
}
.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}
.services {
  padding-bottom: 40px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
.services-item {
  max-width: 392px;
  width: 100%;
  border-radius: 2px;
  &__content-img {
    width: 392px;
    height: 392px;
    object-fit: cover;
  }
  &__info {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-top: none;
    padding-bottom: 32px;
  }
  &__box {
    background-repeat: no-repeat;
    margin-top: -24px;
    z-index: 1;
    position: relative;
    padding-top: 16px;
  }
  &__box-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
    padding-left: 32px;
  }
  &__break {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 32px 0px 33px;
  }
  &__break-span,
  &__price-span {
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__price {
    display: flex;
    align-items: center;
    padding-left: 32px;
  }
}
.popular-wheels {
  padding-bottom: 40px;
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    &__link {
      padding: 11px 16px;
      border: none;
      background-color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #4c65bd;
      cursor: pointer;
    }
  }
  .tabs-wrapper .active {
    color: #ff7e00;
    border-bottom: 1px solid #ff7e00;
  }
  .tabs-content {
    display: flex;
    margin-bottom: 32px;
  }
  .tabs-item {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 12px 24px;
    color: #ff7e00;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}

.popular-disky {
  padding-bottom: 40px;
  &__inner {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__card {
    max-width: 288px;
    width: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    transition: all 0.6s;
    &:hover {
      //transform: scaleX(1.05);
      box-shadow: #ccc 0px 8px 68px;
    }
  }
  &__content {
    width: 100%;
    height: 288px;
  }
  &__content-img {
    margin: auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 16px 32px 32px;
    height: 312px;
  }
  &__comment {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__comment-link {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  &__comment-num {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
    margin-left: 4px;
  }
  &__box-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
    margin-bottom: 8px;
  }
  &__tags {
    display: flex;
    align-items: center;
    //margin-bottom: 48px;
    margin-bottom: auto;
  }
  &__tags-weather {
    margin-right: 8px;
  }
  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__box-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__hashtag {
    display: flex;
    margin-bottom: 48px;
  }
  &__hashtag-link {
    background: #ffe9d5;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #ff7e00;
    margin-right: 8px;
    transition: all 0.6s;
    &:hover {
      color: #fff;
      background: #ff7e00;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__box-num {
    margin-left: 3px;
  }
  &__order {
    display: flex;
  }
  &__order-price {
    @extend %btn;
    padding: 12px 59px;
  }
  &__order-cart {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin-left: 14px;
    padding: 13px;
  }

  #myImg,
  #myImg2,
  #myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  #myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    //overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  }
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
  .star {
    z-index: 0;
  }
}
.sale {
  background-color: #fff;
  padding-bottom: 40px;
  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    @extend %btn;
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #ff7e00;
  }
}
.sale-slider {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  margin-bottom: 32px;
  &__card {
    max-width: 392px;
  }
  &__item {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
  }
  &__info {
    background-color: #fff;
    padding-bottom: 32px;
    padding-left: 31px;
    padding-right: 31px;
    height: 202px;
    display: flex;
    flex-direction: column;
  }
  &__box {
    margin-left: -31px;
    margin-right: -31px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 16px;
    background-repeat: no-repeat;
    margin-top: -25px;
    position: relative;
  }
  &__box-link {
    display: inline;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
  }
  &__hashtag {
    display: flex;
    margin-top: 8px;
  }
  &__hashtag-link {
    background: #ffe9d5;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    color: #ff7e00;
    margin-right: 8px;
    transition: all 0.6s;
    &:hover {
      color: #fff;
      background: #ff7e00;
    }
  }
  &__time {
    display: flex;
    align-items: center;
    margin-top: auto;
  }
  &__time-icon {
    margin-right: 8px;
  }
  &__time-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__time-date {
    margin-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
  }
}
.about {
  padding-bottom: 72px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 600px;
  }
  &__content-img {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
  &__info {
    max-width: 592px;
    margin-left: auto;
  }
  &__info-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #1a1e29;
    margin-bottom: 16px;
  }
  &__info-text {
    font-size: 16px;
    color: #6a6a6a;
    margin-bottom: 24px;
  }
  &__info-link {
    @extend %btn;
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #ff7e00;
  }
}
.footer {
  background-color: #fff;
  padding-top: 56px;
  padding-bottom: 57px;
  background-image: url("../img/icon/footer-logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  border-top: 1px solid #e5e5e5;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
  }
}
.footer-item {
  max-width: 185px;
  width: 100%;
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ff7e00;
    margin-bottom: 16px;
  }
  &__list-item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__list-link {
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
  }
}
.footer-info {
  padding-top: 97px;
  text-align: center;
  display: flex;
  flex-direction: column;
  &__tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
  }
  &__subtitle {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__link {
    margin-top: 16px;
    @extend %btn;
    color: #ff7e00;
    padding: 12px 24px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin-bottom: 32px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  &__list-item + .footer-info__list-item {
    margin-left: 8px;
  }
  &__list-link {
    display: block;
    border: 1px solid #e5e5e5;
    padding: 12px;
  }
  &__title {
    font-size: 16px;
    line-height: 16px;
    color: #6a6a6a;
    margin-bottom: 16px;
  }
  &__title-link {
    display: block;
    margin: 0 auto;
  }
}
input:hover {
  color: #ff7e00;
  border-color: #ff7e00;
}
@import "media";
