@import "vars";
@import "reset";
@import "global";
.header {
  background-color: #1a1e29;
  //padding: 27px 0 28px;
}
.header-nav {
  padding: 0px 16px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  &__list-item .header-nav__list-item {
    margin-left: 50px;
  }
  &__list-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    transition: all 0.4s;
    padding: 27px 0 28px;
    svg {
      margin-left: 4px;
    }
    &:hover {
      color: #ff7e00;
      svg {
        transform: rotateX(180deg);
        path {
          fill: #ff7e00;
        }
      }
    }
  }
  .header-content {
    display: none;
    //display: block;
    position: absolute;
    background-color: #2b3143;
    width: 100%;
    left: 0;
    top: 88px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 32px 58px 48px;
    h2 {
      color: darkgreen;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__left {
      max-width: 600px;
    }
    &__box {
      width: 100%;
      padding: 16px 0 23px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #3e465f;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &__box-logo {
      margin-right: 24px;
    }
    &__content-title {
      font-size: 24px;
      color: #ff850e;
      margin-bottom: 16px;
    }
    &__content-list {
      display: flex;
      margin-bottom: 8px;
    }
    &__content-item + .header-content__content-item {
      margin-left: 8px;
    }
    &__content-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #e5e5e5;
    }
    &__right {
      max-width: 492px;
      width: 100%;
    }
    &__right-list {
      width: 100%;
    }
    &__right-item {
      padding: 12px 16px;
      border-bottom: 1px solid #3e465f;
    }
    &__right-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }
    &__content-time {
      margin-right: 8px;
    }
    &__content-span {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #e5e5e5;
    }
    &__left-company {
      max-width: 492px;
      width: 100%;
    }
    &__log-in,
    &__registration {
      max-width: 492px;
      width: 100%;
    }
    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
    &__form-info {
      display: flex;
      justify-content: space-between;
    }
    &__form-input {
      width: 308px;
      border: none;
      padding: 12px 16px;
      background-color: #fff;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #1a1e29;
      }
      &:hover {
        color: #ff7e00;
        //border: 1px solid #ff7e00;
        //border-radius: 2px;
        border-color: #ff7e00;
        transition: all 0.6s;
        &::placeholder {
          color: #ff7e00;
        }
      }
    }
    &__form-btn {
      width: 168px;
      @extend %btn;
    }
    &__form-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
    .code {
      display: flex;
      column-gap: 16px;
      margin-bottom: 16px;
      .header-content__form-btn {
        background-color: #fff;
        color: #ff7e00;
      }
    }
    &__form-label {
      width: 100%;
    }
    &__form-span {
      font-size: 14px;
      line-height: 16px;
      color: #e5e5e5;
    }
    &__form-link {
      color: #4c65bd;
    }
  }
  &__list-item:hover .header-content {
    transition: all 0.6s;
    display: block;
  }
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: -28px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 96px;
      width: 96px;
      background: #1a1e29;
      border-radius: 16px;
      top: -16px;
      z-index: -1;
    }
  }
}
.slider {
  width: 100%;
  left: -1px;
  top: -1px;
  //height: 384px;
}
//.slider-item {
//  height: 100%;
//}
.slider-card {
  height: 384px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__box {
    padding-top: 64px;
    max-width: 646px;
    margin-left: auto;
    height: 100%;
  }
  &__title,
  &__title-span {
    background-color: #ff7e00;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    width: fit-content;
  }
  &__title-span {
    display: block;
    margin-bottom: 16px;
  }
  &__link {
    @extend %btn;
    background: #fff;
    border: 1px solid #efd8c3;
    color: #ff7e00;
  }
  //.slick-vertical .slick-slide{
  //  margin-left: -3px !important;
  //}
  .slick-slider {
    left: -1px;
  }
}

.selection {
  /* Style the tab */
  background-image: url("../img/select/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 16px;
  padding-bottom: 73px;
  margin-top: -70px;
  position: relative;
  z-index: 1;
  &__link {
    @extend %btn;
    display: block;
    margin: 0 auto;
    margin-top: 26px;
    width: fit-content;
    padding: 12px 80px;
  }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    overflow: hidden;
    //border: 1px solid #ccc;
    //background-color: #f1f1f1;
    margin-bottom: 24px;
    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: #1a1e29;
    }
  }
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    transition: 0.3s;
  }
  /* Change background color of buttons on hover */

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: inherit;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    border: none;
    padding: 0px;
    &__form {
      display: flex;
      justify-content: center;
      column-gap: 24px;
    }
  }
}
.jq-selectbox {
  width: 185px;
}
.jq-selectbox__select {
  height: 32px;
  padding: 0 50px 0 16px;
  background: #f5f5f5;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  color: #6a6a6a;
}
.jq-selectbox__select:hover {
  background: #f5f5f5;
}
//.jq-selectbox__select {
//  height: 32px;
//  padding: 0 45px 0 10px;
//  border: 1px solid #e5e5e5;
//  border-radius: 2px;
//  background: linear-gradient(rgb(255 255 255), rgb(255 255 255));
//  box-shadow: none;
//  color: #1a1e29;
//  text-shadow: none;
//  padding-left: 16px;
//}
//.jq-selectbox__select:hover {
//  background: linear-gradient(rgb(255 255 255), rgb(255 255 255));
//}
.jq-selectbox__trigger {
  background-image: url("../img/select/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  //background-color: aquamarine;
  border: none;
  width: 10px;
  right: 17px;
}
.jq-selectbox__trigger-arrow {
  border: none;
}
.jq-selectbox__dropdown {
  width: 100%;
  margin: 4px 0 0;
  padding: 0;
  border: none;
  //font: 14px / 18px Arial, sans-serif;
  //box-shadow: 0px 2px 4px rgba(172, 85, 0, 0.08), 0px 8px 32px rgba(255, 126, 0, 0.16);
  border-radius: 2px;
}
.jq-selectbox li.selected {
  background: #ff7e00;
  color: #fff;
}
.jq-selectbox li:hover {
  background: #ff7e00;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.jq-selectbox li {
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  color: #1a1e29;
  padding: 12px 16px;
  border-bottom: 1px solid #e5e5e5;
  &:last-child {
    border-bottom: none;
  }
}
.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}
.services {
  padding-bottom: 40px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
.services-item {
  max-width: 392px;
  width: 100%;
  border-radius: 2px;
  &__content-img {
    width: 392px;
    height: 392px;
    object-fit: cover;
  }
  &__info {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-top: none;
    padding-bottom: 32px;
  }
  &__box {
    background-repeat: no-repeat;
    margin-top: -24px;
    z-index: 1;
    position: relative;
    padding-top: 16px;
  }
  &__box-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
    padding-left: 32px;
  }
  &__break {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 32px 0px 33px;
  }
  &__break-span,
  &__price-span {
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__price {
    display: flex;
    align-items: center;
    padding-left: 32px;
  }
}
.popular-wheels {
  padding-bottom: 40px;
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    &__link {
      padding: 11px 16px;
      border: none;
      background-color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #4c65bd;
      cursor: pointer;
    }
  }
  .tabs-wrapper .active {
    color: #ff7e00;
    border-bottom: 1px solid #ff7e00;
  }
  .tabs-content {
    display: flex;
    margin-bottom: 32px;
  }
  .tabs-item {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 12px 24px;
    color: #ff7e00;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}

.popular-disky {
  padding-bottom: 40px;
  &__inner {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__card {
    max-width: 288px;
    width: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    transition: all 0.6s;
    &:hover {
      //transform: scaleX(1.05);
      box-shadow: #ccc 0px 8px 68px;
    }
  }
  &__content {
    width: 100%;
    height: 288px;
  }
  &__content-img {
    margin: auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 16px 32px 32px;
    height: 312px;
  }
  &__comment {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__comment-link {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  &__comment-num {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
    margin-left: 4px;
  }
  &__box-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
    margin-bottom: 8px;
  }
  &__tags {
    display: flex;
    align-items: center;
    //margin-bottom: 48px;
    margin-bottom: auto;
  }
  &__tags-weather {
    margin-right: 8px;
  }
  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__box-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__hashtag {
    display: flex;
    margin-bottom: 48px;
  }
  &__hashtag-link {
    background: #ffe9d5;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #ff7e00;
    margin-right: 8px;
    transition: all 0.6s;
    &:hover {
      color: #fff;
      background: #ff7e00;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__box-num {
    margin-left: 3px;
  }
  &__order {
    display: flex;
  }
  &__order-price {
    @extend %btn;
    padding: 12px 54px;
    display: flex;
    align-items: center;
  }
  &__order-cart {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin-left: 14px;
    padding: 13px;
  }

  #myImg,
  #myImg2,
  #myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  #myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    //overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  }
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
  .star {
    z-index: 0;
  }
}
.sale {
  background-color: #fff;
  padding-bottom: 40px;
  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    @extend %btn;
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #ff7e00;
  }
}
.sale-slider {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  margin-bottom: 32px;
  &__card {
    max-width: 392px;
  }
  &__item {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
  }
  &__info {
    background-color: #fff;
    padding-bottom: 32px;
    padding-left: 31px;
    padding-right: 31px;
    height: 202px;
    display: flex;
    flex-direction: column;
  }
  &__box {
    margin-left: -31px;
    margin-right: -31px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 16px;
    background-repeat: no-repeat;
    margin-top: -25px;
    position: relative;
  }
  &__box-link {
    display: inline;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
  }
  &__hashtag {
    display: flex;
    margin-top: 8px;
  }
  &__hashtag-link {
    background: #ffe9d5;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    color: #ff7e00;
    margin-right: 8px;
    transition: all 0.6s;
    &:hover {
      color: #fff;
      background: #ff7e00;
    }
  }
  &__time {
    display: flex;
    align-items: center;
    margin-top: auto;
  }
  &__time-icon {
    margin-right: 8px;
  }
  &__time-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__time-date {
    margin-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
  }
}
.about {
  padding-bottom: 72px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 600px;
  }
  &__content-img {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
  &__info {
    max-width: 592px;
    margin-left: auto;
  }
  &__info-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #1a1e29;
    margin-bottom: 16px;
  }
  &__info-text {
    font-size: 16px;
    color: #6a6a6a;
    margin-bottom: 24px;
  }
  &__info-link {
    @extend %btn;
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #ff7e00;
  }
}

.breadcrumbs {
  padding: 15px 0 24px;
}
.breadcrumbs-wrapper {
  padding: 16px 0;
  border-bottom: 1px solid #e5e5e5;
  &__list {
    display: flex;
    align-items: center;
  }
  &__list-item + .breadcrumbs-wrapper__list-item {
    margin-left: 28px;
  }
  &__list-item {
    position: relative;
    padding-left: 10px;
    &::before {
      position: absolute;
      content: "";
      content: url("../img/select/arrow-down.svg");
      width: 10px;
      height: 4px;
      left: 0px;
      transform: rotate(90deg);
      top: 7px;
    }
    &:first-child {
      padding-left: 0px;
      &::before {
        content: none;
      }
    }
  }
  &__list-link {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
    &:last-child {
      color: #1a1e29;
    }
  }
}
.catalog {
  font-family: "IBM Plex Sans", sans-serif;
  padding-bottom: 72px;
  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #1a1e29;
    margin-bottom: 32px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
  }
}
.catalof-filter {
  max-width: 287px;
  width: 100%;
  border-right: 1px solid #e5e5e5;
  height: fit-content;
  &__item {
    margin-bottom: 24px;
  }
  &__item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
    margin-bottom: 8px;
  }
  .custom-checkbox {
    // Тут мы просто центрируем чекбокс и текст
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .custom-checkbox .checkbox {
    margin-right: 8px;
  }

  .custom-checkbox input {
    -webkit-appearance: none; // Скрываем оригинальный чекбокс
    position: absolute; // После скрытия оставется пустое пространство,
    // но абсолютное позиционирование это устранит
  }

  .checkbox {
    // Тут стилизуем сам чекбокс
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #e5e5e5;
    background: #fff;
  }

  .checkmark {
    // Тут центритуем и пишем стили для иконки
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    display: none; // Скрываем иконку
  }

  .custom-checkbox input:checked ~ .checkbox .checkmark {
    display: block; // Показываем иконку, когда чекбокс активен
  }

  .custom-checkbox input:checked ~ .checkbox {
    background: #ff7e00;
    border: none;
    // Если вы хотите не только отображать икнонку, но и менять
    // сам чекбокс после активации - напишите сюда код для активного состояния
  }
  &__search {
    width: 272px;
    display: flex;
    align-items: center;
    font-size: 20px;
    background: #ffffff;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 12px 12px 12px 16px;
    margin-bottom: 8px;
    [type="search"] {
      border: none;
      outline: none;
      &::placeholder {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #c4c4c4;
        vertical-align: middle;
      }
    }
    svg {
      cursor: pointer;
      margin-left: -16px;
    }
  }
  input[type="text"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="text"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
    color: #000;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  #more {
    display: none;
  }
  &__link {
    @extend %btn;
    padding: 12px 100px;
    display: inline-block;
    margin-bottom: 8px;
  }

  &__btn {
    @extend %btn2;
    cursor: pointer;
    padding: 12px 91px;
  }
  #more {
    display: none;
  }
  &__item-box {
    display: inline-flex;
    border-bottom: 1px dashed #4c65bd;
  }
  &__box-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4c65bd;
    margin-right: 4px;
  }
  &__box-num {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
  }
  .jq-selectbox__select {
    background-color: #fff;
    width: 272px;
  }
  .jq-selectbox__dropdown {
    width: 272px;
  }
  .jq-selectbox .jqselect .catalog-content__filter-select dropdown opened {
    background-color: blue;
  }
  &__form {
    width: 272px;
  }
  .irs--flat .irs-line {
    background: #e5e5e5;
    width: 272px;
    height: 2px;
  }
  .irs--flat {
    height: 16px;
    margin-top: -16px;
  }
  .irs--flat .irs-bar {
    background: #ff7e00;
    height: 2px;
  }
  .irs--flat .irs-handle {
    position: absolute;
    display: block;
    top: 17px;
    left: 50%;
    margin-left: -1px;
    background: #ff7e00;
    border: 1px solid #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 0px;
  }
  .irs--flat .irs-handle > i:first-child {
    display: none;
  }
  .irs--flat .irs-min,
  .irs--flat .irs-max {
    top: 0;
    padding: 1px 3px;
    color: #999;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    background-color: #e1e4e9;
    border-radius: 4px;
    display: none;
  }
  .irs-from,
  .irs-to {
    display: none;
  }
  &__box-price {
    width: 272px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
  }
  &__price-from,
  &__price-to {
    padding: 12px 16px;
    width: 50%;
    .from,
    .to {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #1a1e29;
    }
  }
  &__price-to {
    border-left: 1px solid #e5e5e5;
  }
  &__sale {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
    margin-right: 4px;
  }
}
.catalog-content {
  max-width: 912px;
  width: 100%;
  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .jq-selectbox {
      width: 288px;
    }
  }
  &__number {
    display: flex;
  }
  &__number-text,
  &__number-num {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    margin-bottom: 32px;
    .popular-disky__order-price {
      padding: 12px 58px;
    }
  }
  &__pagination {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
  &__pagination-list {
    display: flex;
    margin-right: 40px;
  }
  &__pagination-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #4c65bd;
    padding: 12px;
  }
  &__pagination-link--active {
    background: #ff7e00;
    border-radius: 2px;
    color: #fff;
  }
  &__pagination-btn {
    @extend %btn2;
  }
  &__banner {
    //background: linear-gradient(270deg, #5a20b8 0%, #4c65bd 45.42%, rgba(76, 101, 189, 0) 100%);
    padding: 36px 32px 36px 0;
    background-image: url("../img/catalog/banner.png");
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position-x: left;
    position: relative;
    height: 240px;
    &::after {
      position: absolute;
      content: "";
      background: linear-gradient(270deg, #5a20b8 0%, #4c65bd 45.42%, rgba(76, 101, 189, 0) 100%);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__banner-box {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    z-index: 1;
  }
  &__banner-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 8px;
  }
  &__banner-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 24px;
  }
  &__banner-link {
    @extend %btn2;
  }
  &__article {
    background: #f8f8f8;
    padding: 24px 32px 16px;
  }
  &__article-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #1a1e29;
    margin-bottom: 16px;
  }
  &__article-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6a6a6a;
    margin-bottom: 40px;
  }
}
.wheel {
  margin-bottom: 24px;
  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #1a1e29;
    margin-bottom: 8px;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  .popular-disky__tags {
    margin-right: 16px;
    margin-bottom: 0px;
  }
  .popular-disky__comment {
    margin-bottom: 0;
  }
  &__box-code {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
  &__box-text,
  &__box-num {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__box-num {
    display: block;
    margin-left: 10px;
  }
}
.card-body {
  margin-bottom: 24px;
  #more {
    display: none;
  }
  /* Модальный (фон) */
  .modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 13; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0, 0, 0); /* Цвет запасной вариант */
    background-color: rgba(0, 0, 0, 0.9); /* Черный с непрозрачностью */
  }

  /* Модальное содержание/коробка */
  .modal-content {
    background-color: #fff;
    margin: 5% auto; /* 15% сверху и по центру */
    //padding: 20px;
    //border: 1px solid #888;
    width: 600px; /* Может быть больше или меньше, в зависимости от размера экрана */
    border: none;
    padding: 24px 32px;
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
    &__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      color: #1a1e29;
    }
    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6a6a6a;
      margin-bottom: 24px;
    }
    &__subtitle {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #1a1e29;
      margin-bottom: 16px;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 16px;
      row-gap: 16px;
      margin-bottom: 24px;
    }
    &__item {
      width: 120px;
      height: 80px;
      border: 1px solid #e5e5e5;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__info {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6a6a6a;
      margin-bottom: 16px;
    }
    &__list {
      margin-bottom: 32px;
    }
    &__list-item {
      display: flex;
      align-items: center;
      padding-left: 20px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/icon/modal-icon.svg");
        left: 0;
        width: 16px;
        height: 16px;
      }
    }
    &__list-span,
    &__list-link {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #6a6a6a;
    }
    &__list-span {
      margin-right: 5px;
    }
    &__list-link {
      color: #4c65bd;
    }
    &__close-btn {
      @extend %btn2;
      cursor: pointer;
    }
  }
  /* Кнопка закрытия */
  .close {
    cursor: pointer;
    margin-left: auto;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
  }
  &__picture {
    max-width: 392px;
    width: 100%;
    border: 1px solid #e5e5e5;
  }
  &__picture-img {
    width: 391px;
    height: 391px;
    object-fit: cover;
  }
  &__description {
    max-width: 392px;
    width: 100%;
    padding-right: 8px;
  }
  &__description-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1a1e29;
    margin-bottom: 24px;
  }
  //&__list {
  //}
  &__list-item {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    column-gap: 15px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__list-item-title {
    width: 184px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      border-bottom: 2px dotted #e5e5e5;
      right: 0px;
      bottom: 0px;
    }
  }
  &__list-item-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
  }
  &__price {
    max-width: 392px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(172, 85, 0, 0.08), 0px 8px 32px rgba(255, 126, 0, 0.16);
    padding: 24px 32px;
  }
  &__old-price {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #ff7e00;
  }
  &__box {
    display: flex;
    margin-bottom: 4px;
    align-items: flex-end;
  }
  &__box-new-price {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #1a1e29;
    margin-right: 8px;
  }
  &__box-num {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #c4c4c4;
  }
  &__counter {
    display: flex;
    margin-bottom: 16px;
    width: 100%;
  }
  &__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0px;
    }
    img {
      margin-right: 8px;
    }
  }
  &__wrap-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
    margin-right: 8px;
  }
  &__wrap-pop-up {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4c65bd;
    border-bottom: 1px dashed #4c65bd;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px dashed #4c65bd;
  }
  .jq-number {
    position: relative;
    vertical-align: middle;
    padding: 0 36px 0 0;
    width: 80px;
    margin-right: 16px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
  }
  .jq-number__field {
    width: 100%;
    box-shadow: none;
    height: 100%;
    border: none;
    display: flex;
  }
  .jq-number__field input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 9px;
    border: none;
    outline: none;
    background: none;
    font: 14px Arial, sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #1a1e29;
    padding: 16px 8px 16px 16px;
  }
  .jq-number__spin {
    border-color: #5a20b8;
    text-shadow: none;
    background: #fff;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #fff;
    background: none;
    width: 0px;
    right: 23px;
  }
  .jq-number__spin:after {
    content: "";
    background-image: url("../img/select/arrow-down.svg");
    position: absolute;
    width: 10px;
    height: 4px;
    border: 0px;
    left: -23px;
    margin-top: -22px;
    cursor: pointer;
    //transform: rotate(180deg);
    left: 0;
    bottom: 0px;
    margin: auto;
  }
  .jq-number__spin minus:after {
    background-color: #5a20b8;
    width: 20px;
    height: 30px;
  }
  .jq-number__spin .plus {
    transform: rotate(180deg) !important;
  }
}
.card-description {
  .tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .tab {
    display: block;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4c65bd;
    cursor: pointer;
    margin-bottom: -1px;
    &__review {
      display: flex;
    }
    &__num {
      margin-left: 5px;
    }
  }
  .tabs-wrapper .active {
    color: #ff7e00;
    border-bottom: 1px solid #ff7e00;
  }
  .tabs-content {
    padding: 24px 0 48px;
  }
  .tab-item {
    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #1a1e29;
      margin-bottom: 16px;
    }
    &__inner {
      display: flex;
      column-gap: 24px;
      margin-bottom: 24px;
    }
    &__inner-text {
      width: 50%;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6a6a6a;
    }
    //&__wrapper {
    //  background-color: #5a20b8;
    //}
    &__content {
      display: flex;
    }
    &__content-item {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #6a6a6a;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &__content-list {
      &:first-child {
        width: 300px;
        .tab-item__content-item {
          position: relative;
          &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            border-bottom: 2px dotted #e5e5e5;
            right: 0px;
            bottom: 0px;
          }
        }
      }
    }
    &__content-span {
      color: #1a1e29;
    }
    //&__wrap {
    //  background-color: tomato;
    //}
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      column-gap: 24px;
      margin-bottom: 24px;
    }
    &__our {
      margin-bottom: 24px;
    }
    &__info {
      width: 50%;
    }
    &__list {
      display: flex;
      width: 100%;
      justify-content: space-between;
      column-gap: 24px;
    }
    &__list-item {
      width: 25%;
      display: flex;
    }
    &__list-img {
      margin-right: 16px;
    }
    &__list-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6a6a6a;
    }
    &__info-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #1a1e29;
      margin-bottom: 16px;
    }
    &__info-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6a6a6a;
    }
    &__rule {
      /* Style the buttons that are used to open and close the accordion panel */
      .accordion {
        display: block;
        background-color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #4c65bd;
        cursor: pointer;
        padding: 12px 16px;
        width: 100%;
        text-align: left;
        outline: none;
        transition: 0.4s;
        border: none;
        border-bottom: 1px solid #e5e5e5;
      }

      /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
      .active,
      .accordion:hover {
        background-color: #ccc;
      }

      /* Style the accordion panel. Note: hidden by default */
      .panel {
        padding: 16px;
        background-color: #e5e5e5;
        max-height: 0;
        display: none;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        &__inner {
          display: flex;
          justify-content: space-between;
          width: 100%;
          column-gap: 24px;
        }
        &__inner-text {
          width: 50%;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #6a6a6a;
        }
        &__box {
          width: 50%;
          margin-right: auto;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #6a6a6a;
          margin-bottom: 16px;
        }
        &__info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          column-gap: 24px;
        }
        &__info-left,
        &__info-right {
          width: 50%;
        }
        &__info-text {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #6a6a6a;
          margin-bottom: 8px;
          padding-left: 24px;
          position: relative;
          &:before {
            position: absolute;
            content: "";
            background-image: url("../img/card/icon/list-style.svg");
            width: 16px;
            height: 20px;
            left: 0;
          }
        }
      }
      .accordion:after {
        content: "+"; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
      }

      .active:after {
        content: "-"; /* Unicode character for "minus" sign (-) */
      }
    }
    &__auto {
      //background-color: hotpink;
      //background: rgba(255, 255, 255, 0.1);
      .tabs-inner .active {
        color: red;
        border-bottom: 1px solid #e5e5e5;
        border-left: 1px solid #ff7e00;
      }
      .tabs-inner {
        display: flex;
        column-gap: 24px;
      }
      .tabs {
        max-width: 288px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .tab-box {
        width: 100%;
        padding: 8px 13px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #1a1e29;
        cursor: pointer;
      }
      .tabs-content {
        //background-color: #ccc;
        width: 100%;
        padding-top: 0px;
      }
      .tab-items {
        &__title {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: #1a1e29;
          margin-bottom: 16px;
        }
        &__box-description {
          width: 100%;
        }
        &__box-model {
          background-color: #ffe9d5;
          padding: 12px 16px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #4c65bd;
        }
        &__box-text {
          padding: 12px 16px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #4c65bd;
        }
        &__box-description {
          display: flex;
          background-color: #fff;
        }
      }
    }
    .tab-review {
      &__link {
        display: block;
        @extend %btn;
        margin-bottom: 24px;
        width: fit-content;
      }
      &__data {
        display: flex;
        align-items: center;
        padding: 16px 0 16px 24px;
        background: #f5f5f5;
        margin-bottom: 24px;
      }
      &__data-item {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      &__data-link {
        display: flex;
        align-items: center;
        margin: 0 210px 0 24px;
      }
      &__data-percent {
        margin: 0 4px 0 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #1a1e29;
      }
      &__data-num {
        font-size: 16px;
        line-height: 24px;
        color: #c4c4c4;
      }
      &__data-number {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 72px;
        line-height: 96px;
        color: #000000;
      }
      &__data-span {
        font-size: 16px;
        line-height: 24px;
        color: #6a6a6a;
      }
      &__info {
        padding: 16px 0 16px 24px;
        display: flex;
        column-gap: 24px;
        margin-bottom: 24px;
      }
      &__user {
        max-width: 264px;
        width: 100%;
      }
      &__user-title,
      &__descriprion-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #1a1e29;
        margin-bottom: 16px;
      }
      &__user-subtitle,
      &__user-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #c4c4c4;
      }
      .star {
        margin: 4px 0 16px 0;
      }
      &__descriprion {
        max-width: 600px;
        width: 100%;
        margin-right: auto;
      }
      &__descriprion-text {
        font-size: 16px;
        line-height: 24px;
        color: #6a6a6a;
        margin-bottom: 24px;
      }
      &__btn {
        @extend %btn2;
      }
    }
  }
}
.card-content {
  padding-bottom: 72px;
  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #1a1e29;
    margin-bottom: 32px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 24px;
    margin-bottom: 32px;
  }
  &__link {
    @extend %btn2;
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}
.cart {
  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #1a1e29;
    margin-bottom: 24px;
  }
}
.cart-inner {
  display: flex;
  justify-content: space-between;
  &__info {
    max-width: 808px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    padding: 8px 40px 8px 0;
    position: relative;
  }
  &__info-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    right: 23px;
    top: 23px;
    cursor: pointer;
  }
  &__info-block {
    width: 144px;
    height: 144px;
  }
  &__info-list {
    padding-top: 20px;
  }
  &__info-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1a1e29;
    margin-bottom: 4px;
    margin-left: 0px;
  }
  .wheel__box-code {
    margin-left: 0px;
    margin-bottom: 16px;
  }
  .popular-disky__box-title {
    margin-left: 8px;
  }
  &__info-box {
    display: flex;
    align-items: center;
  }
  &__info-title {
    margin: 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
  }
  &__info-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4c65bd;
    border-bottom: 1px dashed #4c65bd;
  }
  &__num {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1a1e29;
    margin-left: auto;
  }
  &__cointer {
    width: 80px;
    height: 48px;
    .card-body__counter {
      .jq-number {
        width: 100%;
        position: relative;
        vertical-align: middle;
        //padding: 0 36px 0 0;
        padding: 0;
        //background-color: teal;
      }
      .jq-number__field {
        background-color: tomato;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        width: 100%;
      }
      .jq-number__field input {
        width: 100%;
        padding: 8px 9px;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        color: #1a1e29;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 12px;
      }
      .jq-number__spin {
        text-shadow: none;
        box-shadow: none;
        border: none;
        display: flex;
        right: 11px;
        width: 10px;
        height: 4px;
      }
      .jq-number__spin.plus {
        top: 17px;
        background-image: url("../img/cart/arrow-top.svg");
        background-repeat: no-repeat;
        background-position: center;
        &::after {
          content: none;
        }
      }
      .jq-number__spin.minus {
        top: 35px;
        background-image: url("../img/cart/arrow-top.svg");
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
        &::after {
          content: none;
        }
      }
    }
  }
  &__calc {
    width: 328px;
    padding: 24px 32px;
    box-shadow: 0px 2px 4px rgba(172, 85, 0, 0.08), 0px 8px 32px rgba(255, 126, 0, 0.16);
  }
  &__calc-list {
    width: 100%;
    margin-bottom: 24px;
  }
  &__calc-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  &__calc-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
    width: 100%;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      border-bottom: 2px dotted #e5e5e5;
      right: 0px;
      bottom: 0px;
    }
  }
  &__calc-num {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
  }
  &__calc-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1a1e29;
    width: 100%;
  }
  &__calc-btn {
    @extend %btn;
    display: block;
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }
  &__calc-promo {
    padding: 12px 16px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    width: 100%;
  }
  input:hover {
    color: #000;
    border-color: inherit;
  }
  &__slider {
    margin-top: 40px;
    max-width: 880px;
    width: 100%;
    margin-bottom: 104px;
  }
  &__slider-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
    margin-bottom: 24px;
  }
  .slider {
    background: linear-gradient(270deg, rgba(196, 196, 196, 0) 0%, #c4c4c4 100%);
  }
}
.page-404 {
  background-color: #3e465f;
  &__inner {
    padding-top: 47px;
    padding-bottom: 361px;
    text-align: center;
  }
  &__inner-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 17px;
  }
  &__inner-link{
    @extend %btn;
    display: block;
    margin: 48px auto 0px;
    width: fit-content;
  }
}
.footer {
  background-color: #fff;
  padding-top: 56px;
  padding-bottom: 57px;
  background-image: url("../img/icon/footer-logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  border-top: 1px solid #e5e5e5;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
  }
}
.footer-item {
  max-width: 185px;
  width: 100%;
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ff7e00;
    margin-bottom: 16px;
  }
  &__list-item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__list-link {
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
  }
}
.footer-info {
  padding-top: 97px;
  text-align: center;
  display: flex;
  flex-direction: column;
  &__tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
  }
  &__subtitle {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__link {
    margin-top: 16px;
    @extend %btn;
    color: #ff7e00;
    padding: 12px 24px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin-bottom: 32px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  &__list-item + .footer-info__list-item {
    margin-left: 8px;
  }
  &__list-link {
    display: block;
    border: 1px solid #e5e5e5;
    padding: 12px;
  }
  &__title {
    font-size: 16px;
    line-height: 16px;
    color: #6a6a6a;
    margin-bottom: 16px;
  }
  &__title-link {
    display: block;
    margin: 0 auto;
  }
}
input:hover {
  color: #ff7e00;
  border-color: #ff7e00;
}
@import "media";
