@import "vars";
@import "reset";
@import "global";
.header {
  background-color: #1a1e29;
  //padding: 27px 0 28px;
}
.header-nav {
  padding: 0px 16px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  &__list-item .header-nav__list-item {
    margin-left: 50px;
  }
  &__list-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    transition: all 0.4s;
    padding: 27px 0 28px;
    svg {
      margin-left: 4px;
    }
    &:hover {
      color: #ff7e00;
      svg {
        transform: rotateX(180deg);
        path {
          fill: #ff7e00;
        }
      }
    }
  }
  .header-content {
    display: none;
    //display: block;
    position: absolute;
    background-color: #2b3143;
    width: 100%;
    left: 0;
    top: 88px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 32px 58px 48px;
    h2 {
      color: darkgreen;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__left {
      max-width: 600px;
    }
    &__box {
      width: 100%;
      padding: 16px 0 23px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #3e465f;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &__box-logo {
      margin-right: 24px;
    }
    &__content-title {
      font-size: 24px;
      color: #ff850e;
      margin-bottom: 16px;
    }
    &__content-list {
      display: flex;
      margin-bottom: 8px;
    }
    &__content-item + .header-content__content-item {
      margin-left: 8px;
    }
    &__content-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #e5e5e5;
    }
    &__right {
      max-width: 492px;
      width: 100%;
    }
    &__right-list {
      width: 100%;
    }
    &__right-item {
      padding: 12px 16px;
      border-bottom: 1px solid #3e465f;
    }
    &__right-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }
    &__content-time {
      margin-right: 8px;
    }
    &__content-span {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #e5e5e5;
    }
    &__left-company {
      max-width: 492px;
      width: 100%;
    }
    &__log-in,
    &__registration {
      max-width: 492px;
      width: 100%;
    }
    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
    &__form-info {
      display: flex;
      justify-content: space-between;
    }
    &__form-input {
      width: 308px;
      border: none;
      padding: 12px 16px;
      background-color: #fff;
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #1a1e29;
      }
    }
    &__form-btn {
      width: 168px;
      @extend %btn;
    }
    &__form-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
    .code {
      display: flex;
      column-gap: 16px;
      margin-bottom: 16px;
      .header-content__form-btn {
        background-color: #fff;
        color: #ff7e00;
      }
    }
    &__form-label {
      width: 100%;
    }
    &__form-span {
      font-size: 14px;
      line-height: 16px;
      color: #e5e5e5;
    }
    &__form-link {
      color: #4c65bd;
    }
  }
  &__list-item:hover .header-content {
    transition: all 0.6s;
    display: block;
  }
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: -28px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 96px;
      width: 96px;
      background: #1a1e29;
      border-radius: 16px;
      top: -16px;
      z-index: -1;
    }
  }
}
.footer {
  background-color: #ccc;
  padding-top: 56px;
  padding-bottom: 57px;
  background-image: url("../img/icon/footer-logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  border-top: 1px solid #e5e5e5;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
  }
}
.footer-item {
  max-width: 185px;
  width: 100%;
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ff7e00;
    margin-bottom: 16px;
  }
  &__list-item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__list-link {
    font-size: 14px;
    line-height: 16px;
    color: #1a1e29;
  }
}
.footer-info {
  padding-top: 97px;
  text-align: center;
  display: flex;
  flex-direction: column;
  &__tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1a1e29;
  }
  &__subtitle {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #6a6a6a;
  }
  &__link {
    margin-top: 16px;
    @extend %btn;
    color: #ff7e00;
    padding: 12px 24px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin-bottom: 32px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  &__list-item + .footer-info__list-item {
    margin-left: 8px;
  }
  &__list-link {
    display: block;
    border: 1px solid #e5e5e5;
    padding: 12px;
  }
  &__title {
    font-size: 16px;
    line-height: 16px;
    color: #6a6a6a;
    margin-bottom: 16px;
  }
  &__title-link {
    display: block;
    margin: 0 auto;
  }
}
@import "media";
